/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* --------------------
     debug_section
-------------------- */
.debug .side_bar{
    background-color: aqua;
}

.debug .main_header{
    background-color: orange;
}

.debug .app_content_view{
    background-color: magenta;
}

.debug .footer_app{
    background-color: lightskyblue;
}
/* --------------------
    /debug_section
-------------------- */

/* --------------------
   utilities_section
-------------------- */
.d-flex{
    display: flex;
}
/* --------------------
  /utilities_section
-------------------- */

/* --------------------
      gemeral_css
-------------------- */
.wrapper{
    height: 100vh;
    width: 100%;
}

.main_viewport{
    height: calc(100% - 90px);
    width: 100%;

& .container{
    width: 100%;
    height: 100%;
}
}

/* side_bar */
.side_bar{
    width: 230px;
    height: 100%;
}

/* app_content */
.app_content{
    width: calc(100% - 230px);
}

.main_header{
    height: 90px;
    width: 100%;
}

.app_content_view{
    width: 100%;
    height: calc(100% - 90px);
}

.footer_app{
    width: 100%;
    height: 90px;
}
/* --------------------
     /general_css
-------------------- */