/* #region reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color: #141922;
    --header-color: #080B12;
    --footer-color: #282828;
    --active-color: #ADFF2F;
    --text-color: #76777C;
    --ligth-color: #ffffff;
    --dark-color: #000000;
    --active-text: #D2D2D2;
}
/* #endregion */

/* #region debug */
.debug .side_bar{
    background-color: aqua;
}

.debug .main_header{
    background-color: orange;
}

.debug .app_content_view{
    background-color: magenta;
}

.debug .footer_app{
    background-color: lightskyblue;
}
/* #endregion */

/* #region utilities */
.d-flex{
    display: flex;
}

img{
    width: 100%;
    display: block;
}

.btn{
    padding: 0.5rem 1.8rem;
    border: 1px solid;
    color: var(--ligth-color);
    border-radius: 2rem;
    font-weight: bold;
}

.tx-center{
    text-align: center;
}

.col-2{
    width: calc(100% / 12 *2);
}

.col-3{
    width: calc(100% / 12 * 3);
}

.col-5{
    width: calc(100% / 12 * 5);
}
/* #endregion */

/* #region general css */
.wrapper{
    height: 100vh;
    width: 100%;
}

.main_viewport{
    height: calc(100% - 90px);
    width: 100%;

& .container{
    width: 100%;
    height: 100%;
}
}

/* side_bar */
.logo_sm{
    display: none;
}

.side_bar{
    width: 230px;
    height: 100%;
    background-color: var(--dark-color);
    overflow-y: auto;

    & h3{
        color: var(--ligth-color);
        padding: 1rem 0;
        padding-left: 1rem;
    }
}

.side_bar .menu_container{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.side_bar .logo{
    height: 90px;
    padding-left: 1rem;
    align-items: center;

    & img{
        vertical-align: middle;
        width: 70%;
    }
}

.element_list{
    gap: 0.5rem;
    align-items: center;
}

.side_bar .home{
    border-left: 3px solid var(--active-color);
    padding-left: calc(1rem - 3px);

    & a{
        color: var(--ligth-color);
    }
}

.side_bar li{
   padding-bottom: 0.5rem;
   padding-left: 1rem;
   color: var(--text-color);

   & a{ 
   vertical-align: middle;
   font-weight: bold;
   color: var(--text-color);
   gap: 0.5rem;
   }

   & img{
    width: 2rem;
    vertical-align: middle;
   } 
}

.playlist_list li{
    padding-bottom: 1rem;

    & :not(.action){
        font-size: 0.8rem;
    }
}

.action{
    line-height: 2rem;
}

.square{
    width: 2rem;
    aspect-ratio: 1;
    font-size: 1.5rem;
    background-color: var(--text-color);
    line-height: 2rem;
    color: var(--dark-color);
    text-align: center;
}

.menu_down{
    padding: 0 1rem;

    & a{
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.3rem;
    }
    & .download{
        width: 1.3rem;
        vertical-align: middle;
    }
}

.download_app{
    gap: 0.5rem;
}

.menu_down .user{
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--text-color);
    margin-top: 0.5rem;
    gap: 0.5rem;
    align-items: center;

    & .user_name{
        font-weight: bold;
        color: var(--ligth-color);
    }
}

.menu_down .user_icon{
    background-color: var(--text-color);
    border-radius: 50%;
    width: 1.5rem;
    aspect-ratio: 1;
    justify-content: center;
    align-items: flex-end;

    & img{
    border-radius: 50%;
    height: 100%;
    }
}

/* app_content */
.app_content{
    width: calc(100% - 230px);
}

.main_header{
    height: 90px;
    width: 100%;
    background-color: var(--header-color);
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.app_content_view{
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--primary-color);
    overflow-y: auto;
}

.navigation_menu{
    gap: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
    flex-wrap: wrap;
    font-size: 0.8rem;

    & a{
        font-weight: bold;
        color: var(--text-color);
    }

    & .active{
        width: 30%;
        height: 3px;
        background-color: var(--active-color);
        margin: auto;
        margin-top: 0.3rem;
    }
}

.app_content .container{
    padding: 0.5rem 2rem 0.5rem 1rem;

    & h2{
        color: var(--ligth-color);
        margin-bottom: 1.5rem;
    }

    & .row{
        flex-wrap: wrap;
        margin: 0 -0.25rem;
    }

    & h4{
        color: var(--text-color);
        font-size: 0.8rem;
    }
}

.card{
    max-width: 250px;
    padding: 0.25rem;
    & h3{
        color: var(--ligth-color);
        margin: 1rem 0 0.5rem;
        font-size: 1rem;
    }

    & .album{
        position: relative;
    }

    & .play{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-size: 5rem;
        color: var(--ligth-color);
        visibility: hidden;
    }
}

.app_content .for_you, .app_content .popular{
    & h2{
        margin-bottom: 0.5rem;
    }

    & h4{
        margin-bottom: 1.5rem;
    }
}

.popular img{
    border-radius: 50%;
}
/* footer */
.footer_app{
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 999;
    background-color: var(--footer-color);
    padding: 1rem 0.5rem;

    & .container{
        height: 100%;
        width: 100%;
    }

    & .row{
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    & .menu_left, .menu_center, .menu_right{
        height: inherit;
        align-items: center;
        gap: 1rem;
    }
}

.menu_left .album{
    align-items: center;
    gap: 0.5rem;

    & img{
        width: 50px;
        aspect-ratio: 1;
    }

    & h3{
        color: var(--ligth-color);
        font-size: 1rem;
    }

    & h4{
        color: var(--text-color);
        font-size: 0.8rem;
    }
}

.menu_left .function{
    gap: 1rem;
    color: var(--text-color);
}

.menu_center{
    padding: 0 1rem;
}

.menu_center .function{
    gap: 1.5rem;
    color: var(--ligth-color);
    justify-content: center;
    align-items: center;

    & .play{
        font-size: 2rem;
    }
}

.menu_center .time_line{
    align-items: center;
    gap: 0.5rem;
    color: var(--active-text);
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 100%;

    & .time_line_component{
        width: 80%;
        height: 5px;
        background-color: var(--text-color);
        margin: auto;
        border-radius: 3px;
        position: relative;
    }

    & .track{
        width: 25%;
        height: 5px;
        border-radius: 3px;
        background-color: var(--active-text);
        top: 0;
        left: 0;
    }
}
/* #endregion */

/* #region media query */
@media screen and (max-width: 878px) {
    .col-md-3{
        width: calc(100% / 12 * 3);
    }
    
}

@media screen and (max-width: 639px) {
    .col-sm-6{
        width: 50%;
    }

    .menu_left .function{
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 552px) {  
    .app_content{
        width: calc(100% - 50px);
    }

    .side_bar .logo{
        height: 60px;
    }

    .logo_sm{
        display: block;
        padding: 0.5rem 0;
    }

    .logo_lg{
        display: none;
    }

    .side_bar li, .menu_down, .side_bar .logo, .side_bar .home{
    padding-left: 0;
    padding-right: 0;
   }

   .side_bar .home, .menu_down .user{
    border: 0;
   }

    .hide{
        display: none;
    }

    .side_bar{
        width: 50px;
    }

    .user, .download_app, .element_list, .logo, .menu_container{
        justify-content: center;
    }
}
/* #endregion */